doctype html
html(lang="en")
  head
    title Word Frequency Comparison
    script(type='text/javascript' src='./javascripts/jquery-2.1.1.min.js')
    script(type='text/javascript' src='./javascripts/welcome.js')
  body
    h1 Word Frequency Comparison
    h2 Node.js engine
    input(type="text", placeholder="First URL",  id="first-url"  )
    input(type="text", placeholder="Second URL", id="second-url" )
    button(id="submit") Submit
